.menu{
    grid-area: menu;
    border: black solid 2px;
    background-color: #01adb9;
    box-shadow: 2px 1px black;
    width: 200px;
    height: auto;
    font-size: 1.2em;
}

a {
    color: black;
}

a:hover {
    color: rgb(71, 38, 216);
}

a:link {
    text-decoration: none;
}

.menustyle{
    list-style: none;
}


