body{
    font-size: medium;
}

.container{
    margin: 2%;
    display: grid;
    max-width: 90%;
    grid-template-rows: 1fr auto;
    grid-template-columns: 200px;
    grid-template-areas:
    "hd hd"
    "menu main"
    "ft ft";
    grid-column-gap: 10px;
}

.header
{
    grid-area: hd;
    display: flex;
    justify-content: center;
    border: black solid 2px;

}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
}

.menu{
    grid-area: menu;
    border: black solid 2px;
    background-color: #01adb9;
    box-shadow: 2px 1px black;
    width: 200px;
    height: auto;
    list-style:none;
}

.footer{
    grid-area: ft;
    border: rgb(0, 0, 0) solid 2px;
}

p{
    text-justify:auto;
    font-size: 1.2em;
}

.summary{
    display: flex;
    flex-wrap: wrap; 
    border-left: #01adb9;
    border-left-width: 8px;
    border-left-style: 30px;
    border-left-style: solid;
    background-color: #f7f7f7;
    padding: 10px;
}

span{
    font-weight: bold;
    text-decoration: underline;
    color: #01adb9;
}

.header_home{
    grid-area: hd;
}

