body{
    font-size: medium;
    background-image: url("../Images/diamond.png");
}

.container{
    margin: 2%;
    display: grid;
    max-width: 90%;
    grid-template-rows: 1fr auto;
    grid-template-columns: 200px;
    grid-template-areas:
    "hd hd"
    "menu main"
    "ft ft";
    grid-column-gap: 10px;
}

.header
{
    grid-area: hd;
    display: flex;
    justify-content: center;
    color:#01adb9;
    margin: -14px;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    flex-wrap: wrap;
}

.footer{
    grid-area: ft;
    border: rgb(0, 0, 0) solid 2px;
    background-color: #fbf5ed;
    display: block;
}

.author {
    grid-area: menu;
    margin: 11%;
    max-width: 90%;
    grid-template-rows: 1fr auto;
    grid-template-columns: 200px;
    position: sticky !important;
    top: 242px;
    padding: 1px;
    height: 80px;
}

p{
    text-justify:auto;
    font-size: 1.2em;
}

.summary{
    display: flex;
    flex-wrap: wrap; 
    border-left: #01adb9;
    border-left-width: 8px;
    border-left-style: 30px solid;
    background-color: #f7f7f7;
    padding: 10px;
}

span{
    font-weight: bold;
    text-decoration: underline;
    color: #01adb9;
}

.header_home{
    grid-area: hd;
}

.social{
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-areas: 
    "fb int in";
    text-align: left;
    grid-row-gap: 1px;
    background-color: #fbf5ed;
    justify-content: end;    
}

#facebbok{
    grid-area: fb;
    width: 50%
}

#instagram{
    grid-area: int;
}

#linkedin{
    grid-area: in;
}

#subscribe{
    margin-top: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.position {
    position: sticky !important; 
    top: 0;
    padding: 1px;
}

img{
    max-width: 500px;
    max-height: 250px;
}
.menustyle{
    list-style: none;
}