@media(max-width: 376px){

    body
    {
        background-image: none;
        background-color: white;
        font-size: small;
    }

    .container{
        margin: 12px;
        display: grid;
        max-width: 93%;
        grid-template-rows: 63px 62px auto 66px;
        grid-template-columns: auto;
        grid-template-areas: "menu" "hd" "main" "ft";
    }

    .menu{
        font-family: Lemonada;
        font-weight: bold;
                        
    }
    .menu li {
        list-style: none;
    }

    .header{
        grid-area: hd;
        display: flex;
        justify-content: center;
        color: #01adb9;
        margin: -7px;
        font-family: Sriracha;
     }

     .header h1 {
        font-size: 19px;
     }

    .menustyle{
        margin: 3px;
    }

    .main{
        grid-area: main;
        display: inline-block;
    }

    .footer{ 
        grid-area: ft;
        max-width: 98%;
        margin-left: 3%;
    }

    img {
        display: flex;
        max-width: 258px;
        justify-content: center;

    }

    #btn{
        margin: 3px;
        font-size: 15px;
        padding: 0px 15px 1px;
    }
}