@media (max-width: 768px){

    .container{
        margin: 33px !important;
        grid-template-rows: auto !important;
        background-image: none !important;
    }

    .main{  
        grid-area: main;
        display: grid;
        grid-template-columns: auto auto !important;
    }
}

@media(max-width: 376px){

    .container{
        margin:0 !important;
        max-width: 376px !important;
        grid-template-areas: "menu menu" "logo hd" "main main" "ft ft" !important;
        /* grid-template-columns: none !important; */
    }

    .menu{
        font-family: Lemonada;
        font-weight: bold;                    
    }
    .menu li {
        padding: 2px !important;
    }

    .header{
        display: flex;
        justify-content: center;
        color: #01adb9;
        margin: -7px;
        font-family: Sriracha;
     }

     .header h1 {
        font-size: 19px;
     }

    .menustyle{
        margin: 3px;
    }

    .main{
        grid-template-columns: none !important;
    }

    .logo{
        grid-area: logo;
        position: static !important;
    }

    .footer{ 
        grid-area: ft;
        max-width: 98%;
        margin-left: 3%;
    }

    img {
        display: flex;
        max-width: 258px;
        justify-content: center;

    }

    #btn{
        margin: 3px;
        font-size: 15px;
        padding: 0px 15px 1px;
    }
}